*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
section h2,
section h3,
form button{
    font-family: 'Bitter', serif;
    font-weight: normal;
}

body, input, textarea{
    font-family: 'Roboto', sans-serif;
}

header {
    padding: 16x 0;
    background-color:black;
    color:aliceblue;
}

header h1 {
    font-weight: normal;
    font-size: 40px;
    margin: 16px;
}

section h2 {
    font-weight: bolder;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
    font-weight: 300;
}

header nav li a {
    color:aliceblue;
    text-decoration: none;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.container img {
    height: 366px
}

header .container,
section .container{
    display: flex;
    align-items: center;
    justify-content:space-between;
    }

    .brands-list img {
        height: 24px;
    }

    .brands-list li {
        display: inline;
        margin-right: 8px;
    }

    section .container {
        align-items: flex-start;
    }

    section {
        padding: 24px 0;
    }

    section h2{
        margin-bottom: 16px;
    }

    section{
        color: black;
    }

    section p {
        margin-bottom: 8px;
    }

    .trilogy-font,
    .ds1,
    .ds2,
    .ds3 {
        margin-right: 32px;
    }

    .social-list img {
        height: 24px;
    }
    .social-list li {
        display: inline;
        margin-right: 8px;
    }

    #contact .container {
        display: block;

    }

    section h3{
        margin-bottom: 16px;
    }

    #contact .container {
        display: block;
    }
    
    form input,
    button {
        display: block;
        width: 320px;
        margin-bottom: 8px;
        padding: 8px;
    }

    form button{
        background-color:black;
        color:aliceblue;
        border:none;
        cursor: pointer;
    }

    button {
        padding: 16px;
    }


    footer{
        background-color: black;
        color: aliceblue;
        padding: 18px 0;
    }